// General

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
   
}

.debug {
    border: 1px dashed black;
     min-height: 20px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}